*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0
}
section{
    width: 90%;
    background-color: #7d3ff2;
    margin: 30px auto;
    padding: 40px;
    border-radius: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header h1{
    font-size: 55px;
    margin: 0;
}
.header p{
    font-size: 30px;
}
.header button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #7d3ff2;
    font-size: 20px;
}
.products{
    justify-content: space-between;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.a{
    background-color: white;
    border-radius: 30px;
    padding-bottom: 25px;
    overflow: hidden;
}
img{
    height: 300px;
    width: 100%;
}
.a:hover{
    transform: scaleY(1.02);
    transition: transform 1.5s 0s linear ;
}
.rating{
    font-size: 20px;
    margin: 15px;
}
.rating main{
    color: #777;
}
.a h3{
    font-size: 30px;
    margin: 15px;
}
.oldprice{
    color: #777;
    text-decoration: line-through;
    margin-left: 20px;
    font-size: 17px;
}
.discount{
    display: inline-block;
    background: #00a878;
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-size: 17px;
    margin-left: 10px;
}
